.todo-list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;

    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.todo-list-item button {
    height: 38px;
    width: 38px;
    color: white;
    border: none;
    border-radius: 25px;
    background: var(--first-light-color)
        linear-gradient(
            to bottom,
            var(--first-light-color) 0%,
            var(--first-dark-color) 100%
        );
    transition: 0.5s;
    opacity: 0;
    cursor: pointer;
}

.todo-list-item button.btn-outline-danger {
    background: var(--second-light-color)
        linear-gradient(
            to bottom,
            var(--second-light-color) 0%,
            var(--second-dark-color) 100%
        );
}

.todo-list-item:hover button {
    opacity: 1;
}

.todo-list-item-label {
    margin-right: auto;
    cursor: pointer;
    user-select: none;
}

.todo-list-item[data-done="true"] .todo-list-item-label {
    text-decoration: line-through;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(83, 197, 185, 0.5);
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
