.todo-list-item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1em;

    border: none;
    background-color: transparent;
    cursor: pointer;

    padding: 0.5rem 1.25rem;
    border: 1px solid var(--middle-blue-color);
    margin-block-start: 0.5rem;
    border-radius: 8px;
    box-shadow:
        0px 2px 6px #00000069,
        0px -1px 2px rgb(187 186 186 / 10%),
        inset 2px 0px 3px rgb(33 33 33 / 10%),
        inset -1px 2px 3px rgb(33 33 33 / 10%);

    animation: fade-in 0.5s ease-in-out;

    & button {
        height: 38px;
        width: 38px;
        color: var(--first-contrast-color);
        border: none;
        border-radius: 25px;
        transition: 0.5s;
        opacity: 0;
        cursor: pointer;
        border: 1px solid var(--middle-blue-color);
        background-color: transparent;
        box-shadow: 0 0 0 transparent;
        transition:
            box-shadow 0.3s,
            opacity 0.3s,
            color 0.3s,
            scale 0.3s;
    }

    &:hover button {
        opacity: 1;
    }

    &:has(> button.btn-outline-danger:active) {
        scale: 0.98;
        opacity: 0.2;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.todo-list-item-label {
    margin-right: auto;
    cursor: pointer;
    user-select: none;
}

.todo-list-item[data-done="true"] .todo-list-item-label {
    text-decoration: line-through;
}

.btn-outline-danger {
    box-shadow: 0 0 10px rgba(220, 53, 69, 0);
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
    color: var(--second-dark-color);
    box-shadow: 0 0 10px var(--second-dark-color);
}
