.item-add-form {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    margin-top: auto;
    padding-top: 15px;

    max-width: 85%;

    border-block-start: var(--border-thin);
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    padding: 2px 2px 2px 35px;
    border-radius: 25px;

    color: var(--light-gray);
    box-shadow:
        -1px -1px 1px rgba(255, 255, 255, 0.15),
        -10px 3px 20px rgba(0, 0, 0, 0.15);
    background:
        radial-gradient(circle at top, var(--low-light), transparent),
        radial-gradient(circle at bottom, var(--low-light), transparent),
        linear-gradient(to right, var(--darker-blue-color), transparent);

    & input {
        color: var(--light-gray);
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding: 12px 0;
        font-size: 1rem;
        transition: 0.5s;

        &:hover,
        &:focus {
            color: var(--soft-white);
            caret-color: var(--light-gray);
            outline: 0;
            box-shadow: none;
        }
    }

    & button {
        padding: 12px 30px;
        white-space: nowrap;
        width: fit-content;
        border: none;
        border-radius: 24px;
        color: var(--first-contrast-color);
        font-size: 1rem;
        line-height: 1;
        font-weight: 700;
        background: var(--light-gradient-bottom);
        background-color: var(--first-light-color);
        box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.69);
        cursor: pointer;
        transition:
            0.5s background-color,
            0.5s box-shadow;

        &:hover {
            background-color: var(--btn-primary-color-hover);
            box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.35);
        }
    }
}
