:root {
    --first-light-color: #7fe3d1;
    --first-dark-color: #6acfc2;
    --first-darker-color: #59b9a9;
    --second-light-color: #cc697b;
    --second-dark-color: #a24b61;
    --middle-blue-color: #2a3a4e;
    --darker-blue-color: #1f2a38;

    --first-contrast-color: #dff8ff;
    --first-contrast-color-hover: #395962;

    --light-gradient-bottom: linear-gradient(
        to bottom,
        /* var(--first-light-color) */ transparent,
        #2b9184
    );

    --btn-primary-color: #ffffff40;
    --btn-primary-color-hover: var(--first-darker-color);
    --btn-secondary-color: #ffffff40;
    --btn-secondary-color-hover: #f28b82;

    --border-thin: 1px solid #dddddd50;

    --soft-white: #dadada;
    --light-gray: #717d8d;
    --low-light: #d2d2d210;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-light-color)
        linear-gradient(
            to bottom,
            var(--second-light-color) 0%,
            var(--second-dark-color) 100%
        );
    font-family: "Roboto", "Open Sans", "Myriad Pro", sans-serif;
    font-size: 16px;
    color: white;
}

.app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: max(80vh, 750px);
    width: max(80vw, 1320px);
    max-width: 1440px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 70px rgba(0, 0, 0, 0.35);
    background: var(--middle-blue-color);
}

.left_blank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: min(3vh, 5rem);
    background:
        radial-gradient(circle at center right, #ffffff80 0%, transparent 100%),
        linear-gradient(
            to bottom,
            var(--first-light-color) 0%,
            var(--first-dark-color) 100%
        );
    padding: 30px 25px;
}

.left_blank > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left_blank > div:nth-child(2) {
    display: block;
    height: auto;
    width: min(35%, 235px);
}

.left_blank img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 0.65;
    filter: blur(0.4px);
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: -0.02em;
    opacity: 0.8;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 300;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -0.02em;
    opacity: 0.8;
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#root {
    padding: 30px 45px;
    background: var(--middle-blue-color)
        linear-gradient(
            to bottom,
            var(--middle-blue-color) 0%,
            var(--darker-blue-color) 100%
        );
}

button,
button:focus {
    outline: none;
}
