.App {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
}

.App > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.App .app-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}