.app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 6px;

    & header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 20px;
        flex-wrap: wrap;
    }
}

.settings-toggle {
    position: fixed;
    right: calc((100vw - var(--container-width)) / 2);
    bottom: 20px;
    padding: 10px 16px;
    border: none;
    border-radius: 24px;
    color: var(--first-contrast-color);
    font-size: 0.9rem;
    font-weight: 700;
    background: var(--light-gradient-bottom);
    background-color: var(--first-light-color);
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.69);
    cursor: pointer;
    z-index: 10;
    transition:
        0.5s background-color,
        0.5s box-shadow;
}

.settings-toggle:hover {
    background-color: var(--btn-primary-color-hover);
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.35);
}
