.app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    align-items: center;

    & header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
