.search-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    width: auto;
    flex-grow: 1;
    max-width: 420px;
}

.search-input {
    width: auto;
    flex-grow: 1;

    color: var(--soft-white);
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--light-gray);
    padding: 8px 0;
    height: 1rem;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.6;
    transition: 0.5s;

    &:hover,
    &:focus {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
        opacity: 1;
        outline: 0;
        box-shadow: none;
    }
}

.clear-button {
    padding: 10px 18px;
    border: none;
    border-radius: 24px;
    color: var(--first-contrast-color);
    font-size: 0.95rem;
    font-weight: 700;
    background: var(--light-gradient-bottom);
    background-color: var(--first-light-color);
    box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.69);
    cursor: pointer;
    transition:
        0.5s background-color,
        0.5s box-shadow,
        0.3s opacity;
}

.clear-button:hover:not(:disabled) {
    background-color: var(--btn-primary-color-hover);
    box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.35);
}

.clear-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
