.search-input {
    width: auto;
    max-width: 345px;
    flex-grow: 1;

    color: var(--soft-white);
    border: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--light-gray);
    padding: 8px 0;
    height: 1rem;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.6;
    transition: 0.5s;

    &:hover,
    &:focus {
        color: #fff;
        background-color: transparent;
        border-color: #fff;
        opacity: 1;
        outline: 0;
        box-shadow: none;
    }
}
