.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px 0 30px;

    & > * {
        margin: 0;
    }

    & > :nth-child(2) {
        margin-bottom: 1rem;
    }

    & desc {
        opacity: 0.65;
    }

    & > p {
        color: var(--title-accent);
    }
}
