.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 65px 0 50px;

    & > * {
        margin: 0;
    }

    & h3 {
        font-weight: 400;
        font-size: 2rem;
    }

    & h4 {
        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}
