.btn-group{
    display: flex;
    flex-grow: 1;
    width: fit-content;
    margin-left: 45px;
}

.btn-group .btn:first-child {
    border-radius: 24px 0 0 24px;
}

.btn-group .btn:last-child{
    border-radius: 0 24px 24px 0;
}

.btn-group .btn{
    color: #717d8d;
    border: 1px solid #4c5d72;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    cursor: pointer;
    padding: 15px;
    background: #4c5d72;
    transition: .5s;
}

.btn-group .btn:hover{
    color: white;
    border-color: #6c757d;
}

.btn-group button.btn-info {
    color: white;
    background: var(--first-light-color) linear-gradient(to bottom, var(--first-light-color) 0%, var(--first-dark-color) 100%);
    box-shadow: 3px 0 30px rgba(0, 0, 0, .35);
}