.btn-group {
  display: flex;
  gap: 6px;
  border-bottom: var(--border-thin);
  padding-bottom: 12px;
}
.btn-group button {
  background: transparent;
  border: 0;
  padding: 7px 15px;
  border-radius: 6px;
  font-size: 12px;
  color: var(--light-gray);
  transition: background 0.2s;
}
.btn-group button[data-active="true"] {
  background: var(--hover);
  color: var(--title-accent);
  font-weight: 600;
}
.btn-group button:hover {
  background: var(--hover);
  color: var(--text-color);
}
