.btn-group {
    display: flex;
    flex-grow: 1;
    margin-left: 45px;
    justify-content: end;

    & button {
        color: var(--light-gray);
        border: 1px solid #4c5d72;
        font-size: 1rem;
        line-height: 1;
        font-weight: 700;
        cursor: pointer;
        padding: 12px 15px;
        background-color: #4c5d72;
        box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.35);
        transition:
            0.5s box-shadow,
            0.5s background-color,
            0.5s color;

        &[data-active="true"] {
            color: var(--first-contrast-color);
            background: var(--light-gradient-bottom);
            background-color: var(--first-light-color);
            box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.35);

            &:first-child {
                box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.69);
            }
        }

        &:first-child {
            padding-inline-start: 30px;
            border-radius: 24px 0 0 24px;
        }

        &:last-child {
            padding-inline-end: 30px;
            border-radius: 0 24px 24px 0;
        }

        &:hover {
            color: var(--first-contrast-color);
        }
    }
}
