.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 65px 0 50px;
}

.app-header > * {
    margin: 0;
}

.app-header h3 {
    font-weight: 400;
    font-size: 2rem;
}

.app-header h4 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.app-header p {

}