.empty {
  flex: 1;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 10px 35px;
  gap: 10px;
}
.empty > span {
  color: var(--title-accent);
  font-size: 28px;
}
.empty h4 {
  font-size: 15px;
  font-weight: 500;
}
.empty p {
  font-size: 12px;
  color: var(--light-gray);
  line-height: 1.7;
}
